@using LabWebForms.Models
@model Cliente

@{
    ViewBag.Title = @ViewBag.Operacao;
}


<h2>@ViewBag.Operacao Cliente</h2>

<main>
    <form  action="@Url.Action(ViewBag.Target, "Clientes")" method="get">
        <div class="row m-4">
            <label class="mb-3">Nome</label>
            <input type="text" class="form-control" value="@Model.Nome" name="Nome" />
        </div>

        <div class="row mb-3">
            <label>Telefone</label>
            <input type="text" class="form-control" value="@Model.Telefone" name="telefone" />
        </div>

        <div class="row mb-3">
            <label>Cidade</label>
            <input type="text" class="form-control" value="@Model.Cidade" name="Cidade" />
        </div>

        <div class="row mb-3 mt-3">
            <button type="submit" class="btn btn-primary">@ViewBag.Operacao</button>
        </div>
    </form>
</main>

