@model LabWebForms.Models.Cliente

@{
    ViewBag.Title = "Novo Cliente";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Salvar", "Cliente", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefone)
        @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cidade)
        @Html.DropDownListFor(model => model.Cidade, ViewBag.Cidades as SelectList, "-- Selecione a cidade --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
    </div>
}
