@{
    ViewBag.Title = "Área Admin";
}
@using LabWebForms.Models;

<div class="jumbotron">
    <h1>Área Admin</h1>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Cidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in ViewBag.clientes)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Cidade</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="row">
    <a href="@Url.Action("Logout", "Login")" class="btn btn-danger">Sair do sistema</a>
</div>